In [2]:
from geopy.geocoders import Nominatim

In [3]:
geolocator = Nominatim(user_agent="ariel")

In [4]:
location = geolocator.geocode("Avenida Colon 300, CABA")

In [5]:
print((location.latitude, location.longitude))

(-34.6110646, -58.3691288)

# Test localizacion de estacion

In [6]:
from geopy.distance import geodesic
from geopy import Point

In [7]:
user_latitude=float(location.latitude)
user_longitude=float(location.longitude)

#user_latitude=-34.598771
#user_longitude=-58.38

In [8]:
#from etl_ecobikes.constants import *
#from etl_ecobikes.config import DB_STR,POSTGRES_SCHEMA
from sqlalchemy import create_engine
import pandas as pd
import numpy as np

In [9]:
engine=create_engine('postgresql://aalonso:ITBA@localhost:5432/database_pizza',
                    connect_args={'options': '-csearch_path=eco_bikes' }
                    )
conn = engine.connect()

In [10]:
max_reload_id=pd.read_sql('select max(reload_id) from metadata_load',con=conn).values[0][0]

In [11]:
max_reload_id

32

In [12]:
data_station=pd.read_sql(f"""select ss.station_id,
                ss.num_bikes_available,
                si.lat,
                si.lon
                from eco_bikes.station_status ss 
                left join eco_bikes.station_info si on ss.station_id=si.station_id and ss.reload_id=si.reload_id 
                where ss.reload_id={max_reload_id}
                and ss.num_bikes_available>0""",conn)[['station_id','lat','lon','num_bikes_available']]

In [13]:
data_station

     station_id        lat        lon  num_bikes_available
0             2 -34.592422 -58.374710                   13
1             3 -34.611103 -58.368176                    5
2             4 -34.602990 -58.368860                   12
3             5 -34.580550 -58.420956                    2
4             6 -34.628525 -58.369760                    6
..          ...        ...        ...                  ...
284         491 -34.612297 -58.443295                    3
285         493 -34.596745 -58.459404                    4
286         494 -34.614788 -58.511673                    1
287         497 -34.574425 -58.496230                    2
288         498 -34.586597 -58.494957                    1

[289 rows x 4 columns]

In [14]:
data_station['user_lat']=user_latitude
data_station['user_lon']=user_longitude

In [15]:
data_station['station_point']=data_station.apply(lambda row: Point(latitude=row['lat'], longitude=row['lon']), axis=1)

In [16]:
data_station['user_distance_meters']=data_station.apply(lambda row: geodesic(row[['lat','lon']],
                                                                             row[['user_lat','user_lon']]).m,axis=1)

In [17]:

data_station.sort_values(by='user_distance_meters').iloc[0,:]

station_id                                                3
lat                                              -34.611103
lon                                              -58.368176
num_bikes_available                                       5
user_lat                                         -34.611065
user_lon                                         -58.369129
station_point           34 36m 39.9708s S, 58 22m 5.4336s W
user_distance_meters                              87.492665
Name: 1, dtype: object

In [18]:
data_station.sort_values(by='user_distance_meters').iloc[1,:]

station_id                                            57
lat                                            -34.61269
lon                                            -58.37125
num_bikes_available                                    1
user_lat                                      -34.611065
user_lon                                      -58.369129
station_point           34 36m 45.684s S, 58 22m 16.5s W
user_distance_meters                          265.258364
Name: 37, dtype: object

In [19]:
data_station[data_station['user_distance_meters']==data_station['user_distance_meters'].min()]

,station_id,lat,lon,num_bikes_available,user_lat,user_lon,station_point,user_distance_meters
1,3,-34.611103,-58.368176,5,-34.611065,-58.369129,"34 36m 39.9708s S, 58 22m 5.4336s W",87.492665

# Verificacion si el punto esta dentro de la ciudad de buenos aires

In [20]:
from shapely.geometry import Point, Polygon,shape
from shapely import wkt
import geojson
from urllib.request import urlopen

In [21]:
urL_geojson='https://cdn.buenosaires.gob.ar/datosabiertos/datasets/ministerio-de-educacion/perimetro/perimetro.geojson'

In [22]:
response = urlopen(urL_geojson)

data_json = geojson.loads(response.read())

In [23]:
wkt_perimetro_CABA=shape(data_json['features'][0]['geometry'])

In [24]:
Point(user_longitude,user_latitude).within(wkt_perimetro_CABA)

True

In [25]:
def verify_point_inside_polygon(user_latitude,user_longitude):
    urL_geojson='https://cdn.buenosaires.gob.ar/datosabiertos/datasets/ministerio-de-educacion/perimetro/perimetro.geojson'
    response = urlopen(urL_geojson)
    data_json = geojson.loads(response.read())
    wkt_perimetro_CABA=shape(data_json['features'][0]['geometry'])

    var_bool=None

    if Point(user_longitude,user_latitude).within(wkt_perimetro_CABA)==True:
        var_bool=True
    else:
        var_bool=False

    return var_bool

In [26]:
verify_point_inside_polygon(user_latitude=user_latitude,user_longitude=user_longitude)

True